/* ------------------------------------------------ TELA HOME ---------------------------------------------------------- */

/* 
 * Hero Section
*/

#hero-section {
    /* Background do Hero  */
    background: url('../img/tela-home/img-hero.jpg') lightgray 50% / cover no-repeat;

    /* Altura mínima de 750px e automática */
    min-height: 750px;
    height: auto;
}

#hero-section .row {
    /* Alinhamento do conteúdo no centro da página */
    display: flex;
    justify-content: center;
}

#hero-section p {
    /* Cor e tamanho do texto do parágrafo */
    color: var(--semibranco);
    font-size: 20px;

    /* Espaçamento do título */
    margin-top: 25px;
}

#hero-section .hero-content {
    /* Alinhamento centralizado */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Largura e alinhamento de texto conteúdo do hero */
    width: 40%;
    text-align: center;

    /* Espaçamento da navbar */
    margin-top: 100px;
}

/* 
 * @media Sections - Hero Section
*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    /* Aumentando a largura do conteúdo da seção de Hero */
    #hero-section .hero-content {
        width: 50%;
    }

}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Aumentando a largura do conteúdo da seção de Hero */
    #hero-section .hero-content {
        width: 60%;
    }

    /* Diminuindo o font size do título da seção de Hero */
    #hero-section .hero-text h1 {
        font-size: 54px;
    }

    /* Diminuindo o font size do parágrafo da seção de Hero */
    #hero-section .hero-text p {
        font-size: 18px;
    }

    /* Diminuindo o font size do botão da seção de Hero */
    #hero-section .main-btn--hero {
        --btn-font-size: 18px
    }

    /* Diminuindo a largura e altura do ícone do botão da seção de Hero */
    .ri--arrow-down-s-line {
        width: 24px;
        height: 24px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* Aumentando a largura do conteúdo da seção de Hero */
    #hero-section .hero-content {
        width: 70%;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Diminuindo a altura da seção de Hero */
    #hero-section {
        min-height: 600px;
    }

    /* Aumentando a largura do conteúdo da seção de Hero */
    #hero-section .hero-content {
        width: 80%;
    }

    /* Diminuindo o font size do título da seção de Hero */
    #hero-section .hero-text h1 {
        font-size: 44px;
    }

    /* Diminuindo o font size do parágrafo da seção de Hero */
    #hero-section .hero-text p {
        font-size: 16px;
    }

    /* Diminuindo o font size do botão da seção de Hero */
    #hero-section .main-btn--hero {
        --btn-font-size: 16px
    }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Aumentando a largura do conteúdo da seção de Hero */
    #hero-section .hero-content {
        width: 90%;
    }

    /* Diminuindo o font size do título da seção de Hero */
    #hero-section .hero-text h1 {
        font-size: 36px;
    }

    /* Diminuindo o font size do botão da seção de Hero */
    #hero-section .main-btn--hero {
        --btn-width: 60%;
    }    

}

/* Custom @media */
@media (max-width: 399.98px) {

    /* Diminuindo o font size do título da seção de Hero */
    #hero-section .hero-text h1 {
        font-size: 32px;
    }

    /* Diminuindo o font size do parágrafo da seção de Hero */
    #hero-section .hero-text p {
        font-size: 14px;
    }

    /* Diminuindo o font size do botão da seção de Hero */
    #hero-section .main-btn--hero {
        --btn-font-size: 14px
    }

}

/* 
 * Cards Section
*/

#cards-section {
    /* Background color para a seção de cards */
    background-color: var(--semibranco);
}

#cards-section h2 {
    /* Margin e padding do h2 (title) */
    margin: 0;
    padding: 95px 0 95px 95px;
}

#cards-section .container-fluid {
    /* Sobrepondo as margins e padding do bootstrap, para se adequar ao projeto */
    margin: 0 !important;
    padding: 0 0 190px 0 !important;
}

#cards-section .row {
    /* Sobrepondo a variável de padding da classe .row que espaçava internamente o card */
    --bs-gutter-x: 0;
}

#cards-section .cards {
    /* O alinhamento dos cards está em classes do bootstrap no HTML */

    /* Gap entre os cards */
    gap: 60px;

    /* Margin left e right para permanecer 3 cards por linha */
    margin: 0 100px 0 100px;
}

#cards-section .card {
    /* Sobrepondo variáveis do card do bootstrap */
    --bs-card-bg: var(--semibranco);
    --bs-card-border-color: var(--texto-primario);

    /* Largura do card */
    width: 400px;

    /* Altura do card */
    min-height: 600px;
    height: auto;

    /* Border radius do card */
    border-radius: 0 !important;

    /* Box shadow do card */
    box-shadow: -6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

#cards-section .card-body {
    /* Alinhamento do card centralizado e em coluna */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards-section .card-text {
    /* Sobrepondo a margin do texto do card do bootstrap */
    margin: 0 !important;

    /* Cor do texto do card (parágrafo) */
    color: var(--texto-secundario);

    /* Tamanho do texto */
    font-size: 18px;
}

#cards-section .card-title {
    /* Altura mínima do título */
    min-height: 70px;

    /* Espaçamento do título do card com o divider */
    margin-top: 20px;

    /* Font Size do título do card */
    font-size: 28px;

    /* Centralizando o título */
    text-align: center;
}

#cards-section .card-img-top {
    /* Largura da imagem do card */
    max-width: 400px;
    width: auto;

    /* Altura da imagem do card */
    max-height: 300px;
    height: auto;

    /* Border radius da imagem do card */
    border-radius: 0 !important;
}

/* 
 * @media Sections - Cards Section
*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    /* Diminuindo o espaçamento lateral da seção de Cards */
    #cards-section .cards {
        margin: 0 50px 0 50px;
    }

    /* Diminuindo o tamanho dos cards da seção de Cards */
    #cards-section .card {
        width: 350px;
        min-height: 550px;
    }

    /* Diminuindo o font size e o espaçamento lateral do título da seção de Cards */
    #cards-section h2 {
        font-size: 40px;
        padding: 95px 0 95px 50px;
    }

    /* Diminuindo o font size do horário do card da seção de Cards */
    #cards-section .card-text {
        font-size: 16px;
    }

    /* Diminuindo o font size do título do card da seção de Cards */
    #cards-section .card-title {
        font-size: 24px;
    }

    /* Diminuindo o font size do botão do card da seção de Cards */
    #cards-section .main-btn--card {
        --btn-font-size: 18px;
    }

    /* Diminuindo a largura e altura do ícone do botão do card da seção de Cards */
    .fontisto--ticket {
        width: 24px;
        height: 24px;
    }

}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Diminuindo o espaçamento lateral do título da seção de Cards */
    #cards-section h2 {
        padding: 95px 0 95px 25px;
    }

    /* Diminuindo o gap entre os cards da seção de Cards */
    #cards-section .cards {
        gap: 40px;
    }

    /* Diminuindo o tamanho dos cards da seção de Cards */
    #cards-section .card {
        width: 300px;
        min-height: 500px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* Aumentando o espaçamento lateral do título da seção de Cards */
    #cards-section h2 {
        padding: 95px 0 95px 50px;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    #cards-section .container-fluid {
        padding: 0 0 95px 0 !important;
    }

    /* Diminuindo o espaçamento lateral do título da seção de Cards */
    #cards-section h2 {
        padding: 60px 0 60px 25px;
        font-size: 30px;
    }

    /* Diminuindo o gap entre os cards e o espaçamento lateral da seção de Cards */
    #cards-section .cards {
        column-gap: 25px;
        row-gap: 50px;

        margin: 0 25px 0 25px;
    }

    /* Diminuindo o tamanho dos cards da seção de Cards */
    #cards-section .card {
        width: 250px;
        min-height: 400px;
    }

    /* Diminuindo o font size do horário do card da seção de Cards */
    #cards-section .card-text {
        font-size: 14px;
    }

    /* Diminuindo o font size do título do card da seção de Cards */
    #cards-section .card-title {
        font-size: 20px;
    }

    /* Diminuindo o font size e zerando a margin do título do botão do card da seção de Cards */
    #cards-section .main-btn--card {
        --btn-font-size: 16px;
        margin-top: 0;
    }

    /* Diminuindo a largura e altura do ícone do botão do card da seção de Cards */
    .fontisto--ticket {
        width: 20px;
        height: 20px;
    }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Aumentando o tamanho dos cards da seção de Cards */
    #cards-section .card {
        width: 300px;
        min-height: 450px;
    }

}

/* Custom @media */
@media (max-width: 399.98px) {

    /* Diminuindo o gap entre os cards da seção de Cards */
    #cards-section .cards {
        row-gap: 25px;
    }
    
    /* Aumentando o tamanho dos cards da seção de Cards */
    #cards-section .card {
        width: 275px;
        min-height: 425px;
    }

    /* Diminuindo o font size do horário do card da seção de Cards */
    #cards-section .card-text {
        font-size: 12px;
    }

    /* Diminuindo o font size do título do card da seção de Cards */
    #cards-section .card-title {
        font-size: 18px;
    }

    /* Diminuindo o font size do botão do card da seção de Cards */
    #cards-section .main-btn--card {
        --btn-font-size: 14px;
    }

    /* Diminuindo a largura e altura do ícone do botão do card da seção de Cards */
    .fontisto--ticket {
        width: 16px;
        height: 16px;
    }

}

/* 
 * About Us Section
*/

#about-us-section {
    /* Background color para a seção de sobre nós */
    background-color: var(--marrom-escuro);

    /* Espaçamento para a seção de sobre nós */
    padding: 50px 0 50px 120px
}

#about-us-section .img-fluid {
    /* Border radius da imagem do teatro da seção de sobre nós */
    border-radius: 5px;

    /* Sobrepondo o padding o bootstrap */
    padding: 0;
}

#about-us-section #about-us-content {
    /* largura de 70% do col-md-6 */
    width: 70%;
}

#about-us-section h2 {
    /* Cor para o título da seção de sobre nós */
    color: var(--semibranco);
}

#about-us-section p {
    /* Cor e font size do parágrafo da seção de sobre nós */
    color: var(--semibranco);
    font-size: 22px;

    /* Espaçamento entre o título e o botão */
    margin: 40px 0;
}

/* 
 * @media Sections - About Us Section
*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    /* Diminuindo a largura e altura da imagem proporcionalmente em 1.25x da imagem da seção de Sobre Nós */
    #about-us-section .img-fluid {
        width: 520px;
        height: 344px;
    }

    /* Diminuindo o espaçamento lateral da imagem da seção de Sobre Nós */
    #about-us-section {
        padding: 50px 0 50px 60px;
    }

    /* Aumentando a largura ocupada pelo conteúdo da seção de Sobre Nós */
    #about-us-section #about-us-content {
        width: 80%;
    }

    /* Diminuindo o font size do título da seção de Sobre Nós */
    #about-us-section #about-us-content h2 {
        font-size: 40px;
    }

    /* Diminuindo o font size e a margin top e bottom do parágrafo da seção de Sobre Nós */
    #about-us-section #about-us-content p {
        font-size: 20px;
        margin: 20px 0;
    }

    /* Diminuindo o font size e o padding do botão about da seção de Sobre Nós */
    #about-us-section #about-us-content .main-btn--about {
        --btn-font-size: 16px;
        --btn-padding: 20px 25px;
    }

}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Diminuindo a largura e altura da imagem proporcionalmente em 1.10x da imagem da seção de Sobre Nós */
    #about-us-section .img-fluid {
        width: 472px;
        height: 312px;
    }

    /* Aumentando a largura ocupada pelo conteúdo da seção de Sobre Nós */
    #about-us-section #about-us-content {
        width: 85%;
    }

    /* Alinhando a imagem e o conteúdo da seção de Sobre Nós ao centro */
    #about-us-section .row {
        align-items: center;
    }

    /* Zerando o padding do conteúdo da seção de Sobre Nós */
    #about-us-section .col-lg-6 {
        padding: 0;
    }

    /* Diminuindo o espaçamento lateral da imagem da seção de Sobre Nós */
    #about-us-section {
        padding: 50px 0 50px 30px;
    }

    /* Diminuindo o font size e a margin top e bottom do parágrafo da seção de Sobre Nós */
    #about-us-section #about-us-content p {
        font-size: 18px;
        margin: 15px 0;
    }

    /* Diminuindo o padding do botão about da seção de Sobre Nós */
    #about-us-section #about-us-content .main-btn--about {
        --btn-padding: 15px 20px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* Ajustando a largura e altura para automático da imagem da seção de Sobre Nós */
    #about-us-section .img-fluid {
        width: auto;
        height: auto;

        margin-bottom: 50px;
    }

    /* Aumentando a largura ocupada pelo conteúdo da seção de Sobre Nós */
    #about-us-section #about-us-content {
        width: 80%;
    }

    /* Adicionando o espaçamento lateral em ambos os lados da seção de Sobre Nós */
    #about-us-section {
        padding: 50px 30px;
    }

    /* Aumentando a margin top e bottom do parágrafo da seção de Sobre Nós */
    #about-us-section #about-us-content p {
        margin: 20px 0;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Diminuindo o font size do título da seção de Sobre Nós */
    #about-us-section #about-us-content h2 {
        font-size: 30px;
    }

    /* Diminuindo o font size do parágrafo da seção de Sobre Nós */
    #about-us-section #about-us-content p {
        font-size: 16px;
    }

    /* Diminuindo o font size e o padding do botão about da seção de Sobre Nós */
    #about-us-section #about-us-content .main-btn--about {
        --btn-font-size: 14px;
    }

    /* Diminuindo a largura e altura do ícone do botão about da seção de Sobre Nós */
    .material-symbols-light--keyboard-double-arrow-right {
        width: 24px;
        height: 24px;
    }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Aumentando a largura ocupada pelo conteúdo da seção de Sobre Nós */
    #about-us-section #about-us-content {
        width: 100%;
    }

}

/* Custom @media */
@media (max-width: 399.98px) {

    /* Diminuindo o font size do parágrafo da seção de Sobre Nós */
    #about-us-section #about-us-content p {
        font-size: 14px;
    }

    /* Diminuindo o font size e o padding do botão about da seção de Sobre Nós */
    #about-us-section #about-us-content .main-btn--about {
        --btn-font-size: 12px;
        --btn-padding: 15px 10px;
    }

}