/* ------------------------------------------------ TELA PLAY INFO ---------------------------------------------------------- */

/* 
 * Play Banner Section
*/

#play-banner-section .img-fluid {
    /* Largura do banner da peça */
    width: 100%;

    /* Altura do banner da peça */
    max-height: 500px;
    height: auto;
}

/* 
 * Play Info Section
*/

#play-info-section .container-fluid {
    /* Zerando a margin e o padding  na play-info-section */
    margin: 0;
    padding: 0;
}

#play-info-section {
    /* Background color para a play-info-section */
    background-color: var(--semibranco);

    /* Padding top e bottom na play-info-section */
    padding: 95px 125px;
}

#play-info-section h1 {
    /* Font size */
    font-size: 48px;

    /* Cor do título da peça teatral */
    color: var(--vermelho-geral);

    /* Espaçamento das informações sobre a peça */
    margin-bottom: 45px;
}

#play-info-section #play-info h2 {
    /* Font size e cor do texto */
    font-size: 24px;
    color: var(--vermelho-geral);

    /* Alinhamento centralizado */
    text-align: center;

    /* Borda do h2 */
    border: 2px solid var(--vermelho-geral);
    border-radius: 5px;

    /* Padding do h2 para espaçar da borda */
    padding: 15px 0;
}

#play-info-section .row {
    /* Alterando o valor da variável de padding da classe .row que espaça os h2 (gap) */
    --bs-gutter-x: 200px;
    --bs-gutter-y: 40px;
}

#play-info-section p {
    /* Font size de 24px para os parágrafos */
    font-size: 24px;

    /* Zerando a margin bottom do parágrafo */
    margin-bottom: 0;
}

#play-info-section #play-ticket-info {
    /* Font size e cor do parágrafo de aviso sobre a compra dos ingressos */
    font-size: 20px;
    color: var(--texto-secundario);
    
    /* Espaçamento do botão de 20px */
    margin-top: 20px;
}

/* 
 * Datasheet Section
*/

#datasheet-section {
    /* Background color da ficha técnica */
    background-color: var(--marrom-escuro);

    /* Alinhamento centralizado do texto da ficha técnica */
    text-align: center;

    /* Espaçamento interno da ficha técnica */
    padding: 100px 0;
}

#datasheet-section h1 {
    /* Cor do título */
    color: var(--semibranco);

    /* Espaçamento do primeiro item da ficha técnica */
    margin-bottom: 50px;
}

#datasheet-section #datasheet-content p {
    font-size: 24px;
    color: var(--semibranco);
}

#datasheet-section #datasheet-content {
    /* Alinhamento do conteúdo da ficha técnica */
    display: flex;
    flex-direction: column;

    /* Gap de 30px entre cada item da ficha técnica */
    gap: 30px;
}