/* ------------------------------------------------ TELA YOUR THEATER PROJECT ---------------------------------------------------------- */

/* 
 * Your Theater Project Title Section
*/

#your-theater-project-title-section {
    /* Background color do título de Seu Projeto No Teatro */
    background-color: var(--semibranco);

    /* Espaçamento em cima e embaixo do título de Seu Projeto No Teatro */
    padding: 100px 0;
}

/* 
 * Call To Action Banner Section
*/

#call-to-action-banner-section {
    /* Background da seção de chamado ao artista */
    background: url(../img/tela-your-theater-project/img-entre-em-cartaz-banner.png);
    background-position: center;
    background-size: cover;

    /* Largura e altura */
    width: 100%;
    height: 740px;
}

#call-to-action-banner-section #call-to-action-box {
    /* Background color da box do chamado ao artista */
    background-color: var(--branco-transparente);

    /* Espaçamento interno da box de 80px */
    padding: 80px;

    /* Gap de 10px entre os itens da box */
    gap: 10px;
}

#call-to-action-banner-section #call-to-action-box p {
    /* Font size e cor do parágrafo do chamado ao artista */
    font-size: 18px;
    color: var(--texto-primario);
}

/* 
 * Hold Your Event Section
*/

#hold-your-event-section {
    /* Background color da seção de Faça Seu Evento */
    background-color: var(--semibranco);

    /* Espaçamento interno top da seção de Faça Seu Evento */
    padding-top: 100px;
}

#hold-your-event-section .hold-your-event-introduction {
    /* Gap entre os itens da seção de introdução do Faça Seu Evento de 20px */
    gap: 20px;

    /* Espaçamento entre a seção de introdução do Faça Seu Evento das listas ul */
    margin-bottom: 15px;
}

#hold-your-event-section .hold-your-event-introduction h2 {
    /* Zerando a margin do subtítulo introdutório */
    margin: 0;

    /* Font size do subtítulo introdutório e bold */
    font-size: 28px;
    font-weight: 700;
}

#hold-your-event-section .hold-your-event-list-ul {
    /* Gap de 15px entre cada item das listas da seção de Faça Seu Evento */
    gap: 15px;
}

#hold-your-event-section .hold-your-event-list h2 {
    /* Font size dos subtítulos da seção de Faça Seu Evento e bold */
    font-size: 22px;
    font-weight: 700;

    /* Espaçamento embaixo do título da lista da seção de Faça Seu Evento */
    margin-bottom: 20px;
}

#hold-your-event-section p, #hold-your-event-section li {
    /* Font size do p e do li de 18px da seção de Faça Seu Evento */
    font-size: 18px;
}

#hold-your-event-section h2, #hold-your-event-section p, #hold-your-event-section li {
    /* Cor de texto de todos os h2, p e li da seção de Faça Seu Evento */
    color: var(--texto-primario);
}