/* ------------------------------------------------ CARDS ---------------------------------------------------------- */

/* 
 * Table Area Section
*/

#table-cards-area {
    /* Background color da Área de Tabela dos Cards */
    background: var(--gradient-background);

    /* Garantindo que o gradiente cubra toda a área da Área de Tabela dos Cards */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#table-cards-box {
    /* Background color da Box de Tabela dos Cards */
    background-color: var(--preto);
    
    /* Espaçamento interno e arredondamento das bordas */
    padding: 70px;
    border-radius: 5px;
}

#table-cards-box .table-top-content h1 {
    /* Font size e cor do título da tabela */
    font-size: 32px;
    color: var(--semibranco);

    /* Zerando a margin */
    margin: 0;
}

#table-cards-box .table-top-content .main-btn--new .roboto-regular {
    /* Centralizando a span de 'Novo' do botão para igualar com o ícone */
    position: relative;
    top: 1.5px;
}

#table-cards-box .table {
    /* Cores para a Tabela de Cards */
    --bs-table-bg: var(--semibranco);
    --bs-table-striped-bg: var(--row);
    --bs-table-border-color: var(--preto);
    border-bottom: 1px solid var(--cinza);

    /* Zerando a margin */
    margin: 0;

    /* Border radius nas bordas superiores */
    border-radius: 10px 10px 0 0; 
    /* Garante que o conteúdo não ultrapasse as bordas arredondadas */
    overflow: hidden; 
}

#table-cards-box .table thead tr th {
    /* Cor de fundo e de texto do cabeçalho da tabela */
    background-color: var(--vermelho-geral) !important;
    color: var(--semibranco);

    /* Font size para os itens do cabeçalho da tabela */
    font-size: 18px;
}

#table-cards-box .table tbody tr {
    /* Font size e cor das linhas do corpo da tabela */
    font-size: 16px;
    color: var(--preto);
}

#table-cards-box #editLink {
    /* Removendo da decoração de underline do link de editar peça */
    text-decoration: none;
}

/* 
 * Action Buttons
*/

#table-cards-box #action-buttons {
    /* Força o td de ação a ter apenas o espaço necessário, removendo o espamento lateral nos botões de ação */
    width: 1%; 
    /* Impede quebra de linha */
    white-space: nowrap;
}

#table-cards-box #action-buttons .action-buttons-style {
    /* Display e o cursor dos botões de ação */
    display: inline-block;
    cursor: pointer;

    /* Cor de fundo dos botões de ação por meio de uma variável */
    --background-color-action-button: var(--vermelho-geral);
    background-color: var(--background-color-action-button);

    /* Espamento interno e border radius dos botões de ação */
    padding: 7px 20px;
    border-radius: 15px;

    /* Retirando a borda dos botões */
    border: none;
}

/* Botão de Editar */

#table-cards-box #action-buttons .action-buttons-style--edit {
    /* Alterando a cor do botão para amarelo */
    --background-color-action-button: var(--amarelo);
}

/* Botão Checkbox de Visibilidade */

#table-cards-box #action-buttons .action-buttons-style--visibility {
    /* Alterando a cor do botão para azul */
    --background-color-action-button: var(--azul);
}

#table-cards-box #action-buttons .action-buttons-style--visibility input {
    /* Escondendo o input do checkbox do botão de visibilidade da peça */
    display: none;
}

/* 
 * Modal
*/

.modal-dialog {
    /* Definindo a cor de fundo da box de diálogo do Modal */
    --bs-modal-bg: var(--semibranco);

    /* Definindo a cor de todos os textos no Modal */
    color: var(--preto);
}

.modal-header .btn-close {
    /* Removendo o efeito ao clicar no ícone de fechar do Modal */
    outline: none !important;
    box-shadow: none !important;
}

.modal-body {
    /* Inserindo um espaçamento interno para o Corpo do Modal */
    padding: 25px;
}

/* Modal New */

#newModal .modal-body input, #newModal .modal-body select, #newModal .modal-body textarea {
    /* Definindo a cor de fundo dos inputs do Corpo do Modal de Novo/Editar */
    background-color: var(--branco);
}

#newModal .modal-body input:focus, #newModal .modal-body input:active,
#newModal .modal-body select:focus, #newModal .modal-body select:active,
#newModal .modal-body textarea:focus, #newModal .modal-body textarea:active {
    /* Removendo o efeito ao interagir com os inputs e os selects do Corpo do Modal de Novo/Editar */
    outline: none;
    box-shadow: none;

    /* Cor de fundo quando os inputs e os selects do Corpo do Modal de Novo/Editar estiverem ativos */
    background-color: var(--semibranco);

    /* Cor da borda quando os inputs e os selects do Corpo do Modal de Novo/Editar estiverem ativos */
    border-color: var(--preto);
}

#newModal .modal-body input[type="file"]::file-selector-button, #newModal .modal-body input[type="file"]::file-selector-button:hover {
    /* Cor de fundo e cor do texto do seletor de Escolher Arquivo do Input de Tipo File do Modal de Novo/Editar */
    background-color: var(--vermelho-geral) !important;
    color: var(--semibranco) !important;
}

input[type="time"] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}

/* Accordion/Collapse Styles */

#newModal .accordion .accordion-item {
    /* Cor de fundo e cor do texto */
    background-color: var(--branco);
    color: var(--preto);
}

#newModal .accordion-button:focus {
    /* Removendo os estilos do Bootstrap */
    box-shadow: none;
}

#newModal .accordion-button:not(.collapsed) {
    /* Alterando a cor de fundo e do texto quando o item do accordion for clicado */
    --bs-accordion-active-bg: var(--vermelho-geral);
    --bs-accordion-active-color: var(--branco);

    /* Removendo os estilos do Bootstrap */
    outline: none;
    box-shadow: none;
}

#newModal .accordion-button:not(.collapsed)::after {
    /* Alterando a cor do ícone de seta quando o item do accordion for clicado */
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 16' fill='none' stroke='%23F8F9FA' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

/* Checkbox de Horários dos Dias de Sessões */

#newModal .checkbox-day {
    /* Remove a aparência padrão do checkbox (nativa do navegador) */
    appearance: none;

    /* Largura e altura do checkbox */
    width: 20px;
    height: 20px;

    /* Borda do checkbox */
    border: 2px solid var(--vermelho-geral); 
    border-radius: 5px; 
    
    /* Cor de fundo do checkbox */
    background-color: transparent; /* Torna o fundo transparente */

    /* Posicionamento do checkbox */
    display: inline-block;
    position: relative; /* Torna a posição do checkbox relativa, necessária para posicionar o elemento `before` */
    margin-right: 10px;
    cursor: pointer;
}

/* Estilo para o "before", que representa o preenchimento do checkbox ao ser selecionado */
#newModal .checkbox-day:before {
    /* Define um conteúdo vazio para criar o preenchimento */
    content: "";

    /* Cor de fundo do preenchimento */
    background-color: var(--vermelho-geral);

    /* Posicionamento do preenchimento */
    display: block;
    position: absolute; /* Posiciona o preenchimento de forma absoluta em relação ao checkbox */
    top: 50%; /* Centraliza verticalmente o preenchimento */
    left: 50%; /* Centraliza horizontalmente o preenchimento */

    /* Transforma o preenchimento para ficar inicialmente invisível (escala 0) e o centraliza */
    transform: translate(-50%, -50%) scale(0);

    /* Largura e altura do preenchimento */
    width: 10px; 
    height: 10px; 

    /* Border radius do preenchimento */
    border-radius: 3px;

    /* Anima a transição da escala do preenchimento quando o checkbox é marcado */
    transition: all 0.3s ease-in-out; 
}
  
/* Quando o checkbox está marcado, o preenchimento "before" escala para o tamanho completo */
#newModal .checkbox-day:checked:before {
    /* Aumenta a escala para 1, exibindo o preenchimento completo */
    transform: translate(-50%, -50%) scale(1);
}

#newModal .checkbox-day:checked, #newModal .checkbox-day:focus, #newModal .checkbox-day:active {
    /* Cor da borda da checkbox dos horários das sessões */
    border-color: var(--vermelho-geral) !important;
}

#newModal .form-check-label {
    /* Centralizando o texto com a checkbox dos horários das sessões */
    position: relative;
    top: 2px;
}

/* Input de Temporada */

#newModal .input-group-text {
    /* Cor de fundo do espaço pro ícone de temporada */
    background-color: var(--vermelho-geral);
}

#newModal #season:focus {
    /* Sobrepondo estilos para manter a cor padrão do Bootstrap ao dar foco no input de temporada */
    border-color: var(--bs-border-color) !important;
}

/* Modal Delete and Modal Visibility */

#deleteModal .modal-body h2, #visibilityModal .modal-body h2 {
    /* Font size do título de confirmação do Modal de Deletar e do Modal de Visibilidade */
    font-size: 24px;
}

.opacity-invisivel {
    /* Opacidade para quando o botão que abriu o Modal de Visibilidade estiver no modo invisível, ele aplica uma opacidade */
    opacity: 0.5;
}

.modalNomeEsp {
    /* Font weight e underline no texto do nome do espetáculo nos Modais de Deletar e Visibilidade */
    font-weight: 400;
    text-decoration: underline;

    /* Espaçemento na esquerda no texto do nome do espetáculo nos Modais de Deletar e Visibilidade */
    margin-left: 7px;
}

/* Red Star - Campo Obrigatório */

.red-star {
    /* Cor do asterisco nos campos obrigatórios */
    color: var(--vermelho-geral);
}

/* 
 * Modal Buttons
*/

/* Botão de Fechar Ação do Modal */

.modal-footer .btn-exit, .modal-footer .btn-exit:hover, .modal-footer .btn-exit:active {
    /* Definindo a cor de fundo do botão de fechar do Modal */
    background-color: var(--cinza) !important;
    color: var(--semibranco) !important;

    /* Removendo a borda do botão de fechar do Modal */
    border: none;
}

/* Botão de Confirmar Ação do Modal */

.modal-footer .btn-confirm-action, .modal-footer .btn-confirm-action:hover, .modal-footer .btn-confirm-action:active {
    /* Variável de cor de fundo do botão de confirmação */
    --modal-button-background-color: var(--verde);

    /* Definindo a cor de fundo do botão de confirmação do Modal */
    background-color: var(--modal-button-background-color)  !important;
    color: var(--semibranco) !important;

    /* Removendo a borda do botão de confirmação do Modal */
    border: none;
}

.modal-footer .btn-confirm-action--edit, .modal-footer .btn-confirm-action--edit:hover, .modal-footer .btn-confirm-action--edit:active {
    /* Variável de cor de fundo do botão de confirmação */
    --modal-button-background-color: var(--amarelo);
}

.modal-footer .btn-confirm-action--delete, .modal-footer .btn-confirm-action--delete:hover, .modal-footer .btn-confirm-action--delete:active {
    /* Variável de cor de fundo do botão de confirmação */
    --modal-button-background-color: var(--vermelho-geral);
}

.modal-footer .btn-confirm-action--visibility, .modal-footer .btn-confirm-action--visibility:hover, .modal-footer .btn-confirm-action--visibility:active {
    /* Variável de cor de fundo do botão de confirmação */
    --modal-button-background-color: var(--azul);
}

/* Botão de Limpar Modal */

#newModal .btn-clear-modal {
    /* Cor de fundo e cor do texto do botão de 'Limpar'*/
    background-color: var(--amarelo);
    color: var(--semibranco);

    /* Removendo a borda do botão de 'Limpar' */
    border: none;
}

/* Botão de Adicionar e Remover Horários */

#newModal .btn-add-schedule, #newModal .btn-remove-schedule {
    /* Cor de fundo e cor do texto do botão de 'Novo horário' e do botão de 'Remover' */
    background-color: var(--vermelho-geral);
    color: var(--semibranco);
}

/* 
 * Modal Icons 
*/

/* Modal Delete Icon */
.ph--trash-bold.modal-icon {
    width: 64px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000000' d='M216 48h-36V36a28 28 0 0 0-28-28h-48a28 28 0 0 0-28 28v12H40a12 12 0 0 0 0 24h4v136a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20V72h4a12 12 0 0 0 0-24M100 36a4 4 0 0 1 4-4h48a4 4 0 0 1 4 4v12h-56Zm88 168H68V72h120Zm-72-100v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0m48 0v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0'/%3E%3C/svg%3E");
}

/* Modal Visibility Icon */
.ri--eye-line.modal-icon {
    width: 64px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M12 3c5.392 0 9.878 3.88 10.819 9c-.94 5.12-5.427 9-10.819 9s-9.878-3.88-10.818-9C2.122 6.88 6.608 3 12 3m0 16a9.005 9.005 0 0 0 8.778-7a9.005 9.005 0 0 0-17.555 0A9.005 9.005 0 0 0 12 19m0-2.5a4.5 4.5 0 1 1 0-9a4.5 4.5 0 0 1 0 9m0-2a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5'/%3E%3C/svg%3E");
}

.ri--eye-off-line.modal-icon {
    width: 64px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M17.883 19.297A10.95 10.95 0 0 1 12 21c-5.392 0-9.878-3.88-10.818-9A11 11 0 0 1 4.52 5.935L1.394 2.808l1.414-1.414l19.799 19.798l-1.414 1.415zM5.936 7.35A8.97 8.97 0 0 0 3.223 12a9.005 9.005 0 0 0 13.201 5.838l-2.028-2.028A4.5 4.5 0 0 1 8.19 9.604zm6.978 6.978l-3.242-3.241a2.5 2.5 0 0 0 3.241 3.241m7.893 2.265l-1.431-1.431A8.9 8.9 0 0 0 20.778 12A9.005 9.005 0 0 0 9.552 5.338L7.974 3.76C9.221 3.27 10.58 3 12 3c5.392 0 9.878 3.88 10.819 9a10.95 10.95 0 0 1-2.012 4.593m-9.084-9.084Q11.86 7.5 12 7.5a4.5 4.5 0 0 1 4.492 4.778z'/%3E%3C/svg%3E");
}

/* 
 * Pagination Classes
*/

/* Cor de texto para o texto de paginação com os resultados */
.paginator-text {
    color: var(--cinza);
}

/* Cor das variáveis de hover e focus nos links da paginação */
.page-item {
    --bs-pagination-hover-color: var(--preto);
    --bs-pagination-focus-color: var(--preto);
}

/* Cor dos links de paginação (números) e sem borda e efeito */
.page-item .page-link {
    color: var(--preto);
    border: none;

    outline: none !important;
    box-shadow: none !important;
}

/* Quando hover no link da página em número, manter a cor preta no número */
.page-item .page-link:hover .page-link-hover {
    color: var(--preto);
    text-decoration: underline;
}

/* Cor de fundo e borda do link ativo da página em número */
.page-item.active .page-link {
    background-color: var(--vermelho-geral) !important;
    border-color: var(--vermelho-geral) !important;
}

/* Manter a cor e sem underline no link ativo após hover */
.page-item.active .page-link:hover .page-link-hover {
    color: var(--semibranco) !important;
    text-decoration: none;
}

/* Borda direita no botão de 'Anterior' na cor cinza */
.page-item-prev {
    border-right: 2px solid var(--cinza) !important;
}

/* Borda esquerda no botão de 'Próximo' na cor cinza */
.page-item-next {
    border-left: 2px solid var(--cinza) !important;
}

/* 
 * @media Sections
*/

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    #table-cards-box .table-top-content h1 {
        /* Diminuindo o font size do título da tabela */
        font-size: 28px;
    }

    header #admin-indicator {
        /* Diminuindo o font size do texto de indicação do Modo Administrador */
        font-size: 16px;
    }

    header #logout-icon {
        /* Diminuindo o font size do texto de sair */
        font-size: 14px;
    }

    .material-symbols--logout {
        /* Diminuindo a largura e altura do ícone de logout */
        width: 24px;
        height: 24px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    #table-cards-box .table thead tr th {
        /* Diminuindo o font size para os itens do cabeçalho da tabela */
        font-size: 16px;
    }
    
    #table-cards-box .table tbody tr {
        /* Diminuindo o font size das linhas do corpo da tabela */
        font-size: 14px;
    }

}